<h1>Create New Interruption</h1>
<form action="/profile" method="POST">
  <label for="startTime">Hora de Inicio (24 horas):</label>
  <input type="time" id="startTime" name="startTime" required /><br />

  <label for="endTime">Hora de Fin (24 horas):</label>
  <input type="time" id="endTime" name="endTime" required /><br />

  <label for="sector">Nombre del Sector:</label>
  <input type="text" id="sector" name="sector" required /><br />

  <button type="submit" name="action" value="createInterruption">Create Interruption</button>
</form>