<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Interruption</title>
</head>

<body>
  <h1>Editar Interrupción 2</h1>
  <form action="/admin/upate-interruption" method="POST">
    <input type="hidden" name="id" value="<%= interruption.id %>">
    <div>
      <label for="sectorId">ID del Sector:</label>
      <input type="text" name="sectorId" id="sectorId" value="<%= interruption.sectorId %>" readonly>
    </div>
    <div>
      <label for="startTime">Hora de Inicio:</label>
      <input type="time" name="startTime" id="startTime" value="<%= interruption.startTime %>" required>
    </div>
    <div>
      <label for="endTime">Hora de Fin:</label>
      <input type="time" name="endTime" id="endTime" value="<%= interruption.endTime %>" required>
    </div>
    <button type="submit" name="action" value="updateInterruption">Guardar Cambios</button>
  </form>
  <a href="/admin/dashboard?listInterruptionsForm=true">Cancelar</a>
</body>

</html>