<h1>Client Management</h1>
<button><a href="/profile/dashboard?createClientForm=true">Crear Cliente</a></button>
<button><a href="/profile/dashboard?deleteClientForm=true">Eliminar Cliente</a></button>
<button><a href="/profile/dashboard?listClientsForm=true">Listar Clientes</a></button>
<button><a href="/profile/dashboard?updateClientForm=true">Modificar Cliente</a></button>

<!-- Aquí puedes agregar contenido dinámico dependiendo de la acción seleccionada -->
<div class="dynamic-content">
  <% if (action==='createClientForm' ) { %>
    <%- include('admin/createClientForm') %>
      <% } else if (action==='deleteClientForm' ) { %>
        <%- include('admin/deleteClientForm') %>
          <% } else if (action==='listClientsForm' ) { %>
            <%- include('admin/listClientsForm') %>
              <% } else if (action==='updateClientForm' ) { %>
                <%- include('admin/updateClientForm') %>
                  <% } %>
</div>